extends ../layout.jade

block head
  title Home

block content
    header.header-image
      .headline
        .container
          h1 Computer Quantistici
          h2 La rivoluzone dell'informatica
    #1
    div
      .pow.row
         h1.ye Vantaggi
         p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
         #2
    div
      .pow.row
        h1.ge Storia
        img.img-responsive.pull-left.col-md-5(src='images/img2.png') 
        p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        
    #3
    div
     .pow.row
       h1.bl Nuovi orizzonti        
       .hover1
         div.col-md-4
           img.img-responsive.pull-left(src='images/img3.jpg')
           .overlay
             p To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right o find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant leasure?"
       .hover2
         div.col-md-4
           img.img-responsive.pull-left(src='images/img3.jpg')
           .overlay
             p To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right o find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant leasure?"
       .hover3
         div.col-md-4
           img.img-responsive.pull-left(src='images/img3.jpg')
           .overlay
             p To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"

    #4
    div
      .pow.row
        h1.ge Conclusioni
        p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the ystem, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids leasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely ainful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances ccur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, xcept to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, r one who avoids a pain that produces no resultant pleasure?"


  
