html
  body
    nav.navbar.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#') Computer quantistici
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#1') Vantaggi
            li
              a(href='#2') Storia
            li
              a(href='#3') Nuovi orizzonti
            li
              a(href='#4') Conclusioni
        