doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  
  block head
    
  link(rel='stylesheet', href='styles/styles.css')

body 
  block content
  .header
    include ./includes/navbar
  .splash-container
    .splash
      h1.splash-head Big Bold Text
      p.splash-subhead
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      p
        a.pure-button.pure-button-primary(href='http://purecss.io') Get Started
  .content-wrapper
    block content
    include ./includes/footer

  script(src='scripts/scripts.js')
  block scripts
